 .mainback {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%
}


.mainheading {
	font-family: "Dancing Script", cursive;
	font-size: 800%



}

.mainheading {
color: red;
position: absolute;
top: 12%;
left: 5%;
}

.firstsubhead {
color: blue;
position: absolute;
top: 27%;
left: 50%;
font-size: 190%;
}

.toplisttxt {
color:white;
position: absolute;
top: 35%;
left: 60%;
right: 3%;
}

.artistlist{
color:white;
position: absolute;
top: 50%;
left: 75%;
right: 3%;
font-size: 80%;
}

.bottomlisttxt {
	color: #ffffff;
}


.galleryimg {
	width: 300px;
	float: left;
	margin-left: 8%;
	border: 2px solid #ffffff;
	margin-bottom: 2%;


}

.gallery-body {
	background-position: center;
	background-repeat: no-repeat;
	background: #a6a6a6;
}

.gallery-h1 {
	border-bottom: 2px solid #000000;
	width: 15%;
	background: #666666;
}


.bottomlisttxt {
color:white;
position: absolute;
top: 100%;
left: 76%;
right: 3%;
font-size: 30px;

}


