 .mainback {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
}



/* body {
background-position: center;
background-repeat: no-repeat;
background: url(fallowsbackground.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
width: 100%;
}*/

.mainheading {
font-size: 800%;
font-family: "Dancing Script", cursive;
color: red;
position: absolute;
top: 90px;
left: 5%;
}

.firstsubhead {
color: blue;
position: absolute;
top: 230px;
left: 43%;
font-size: 220%;
}

.toplisttxt {
color:white;
position: absolute;
top: 283px;
left: 55%;
right: 8%;
font-size: 130%;
}

.artistlist{
color:white;
position: absolute;
top: 440px;
left: 70%;
right: 3%;
font-size: 100%;
}

.artistlisttxt{
color:white;
position: absolute;
top: 880px;
left: 71%;
right: 2%;
font-size: 120%;
}


.finaltxt {
color:white;
position: absolute;
top: 960px;
left: 75%;
right: 6%;
font-size: 130%;


.galleryimg {
	width: 300px;
	float: left;
	margin-left: 8%;
	border: 2px solid #ffffff;
	margin-bottom: 2%;


}

.gallery-body {
	background-position: center;
	background-repeat: no-repeat;
	background: #a6a6a6;
}

.gallery-h1 {
	border-bottom: 2px solid #000000;
	width: 15%;
	background: #666666;
}


.bottomlisttxt {
color:white;
position: absolute;
top: 940px;
left: 76%;
right: 2%;
font-size: 20px;
}





