

 body {
padding: 0px;
margin: 0px;
}

<<<<<<< HEAD


=======
>>>>>>> f09be303e7a06941bd4045ef1b51478b140481b0
.mainback {
background-position: center;
background-repeat: no-repeat;
background-size: contain;
height: 100%;
width: 115%;
resize: both;
}

.mainheading {
font-size: 800%;
font-family: "Dancing Script", cursive;
color: red;
position: absolute;
top: 90px;
left: 5%;
}

div .mainheading {
width: 780px;
height: auto;
}

.firstsubhead {
color: blue;
position: absolute;
top: 230px;
left: 43%;
font-size: 220%;
}

div .firstsubhead {
width: 500px;
height: auto;
}

.toplisttxt {
color:white;
position: absolute;
top: 283px;
left: 55%;
right: 8%;
font-size: 130%;
}

div .toplisttxt {
width: 500px;
height: auto;
}

.artistlist {
color:white;
position: absolute;
top: 440px;
left: 70%;
right: 3%;
font-size: 100%;
}

div .artistlist {
width: 380px;
height: auto;
}

.artistlisttxt{
color:white;
position: absolute;
top: 890px;
left: 71%;
right: 2%;
font-size: 120%;
}

.finaltxt {
color:white;
position: absolute;
<<<<<<< HEAD
top: 970px;
=======
top: 940px;
>>>>>>> f09be303e7a06941bd4045ef1b51478b140481b0
left: 10%;
right: 2%;
font-size: 130%;
}

div .finaltxt {
width: 950px;
height: auto;
padding-right: 10px;
}

.galleryimg {
	width: 300px;
	border: 2px solid #ffffff;
	margin: 15px 4px 15px 4px;
}

.gallery-body {
	background-position: center;
	background-repeat: no-repeat;
	background: #1a1a1a;
}

#container {
	width: 960px;
	margin-left: 15%;
}

#container .gallery-h1 {
	font-family: Bitter;
	font-size: 45px;
	color: #ffffff;
}













